{{#with dataCompiled}}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="description" content="{{DYNAMIC_PAGE_NAME_HERE.meta.desc}}">
<meta name="keywords" content="{{DYNAMIC_PAGE_NAME_HERE.meta.keywords}}">
<meta name="author" content="{{DYNAMIC_PAGE_NAME_HERE.meta.company}}">
<meta name="copyright" content="&copy;2015 {{global.meta.company}}">
<meta property="og:title" content="{{DYNAMIC_PAGE_NAME_HERE.meta.title}}">
<meta property="og:description" content="{{DYNAMIC_PAGE_NAME_HERE.meta.desc}}">
<meta property="og:site_name" content="{{global.meta.og_site_name}}">
<meta property="og:type" content="website">
<meta property="og:image" content="{{global.meta.img_TM_300x300}}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<meta property="og:url" content="{{DYNAMIC_PAGE_NAME_HERE.meta.canonical}}">
<meta property="og:locale" content="en_US">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{DYNAMIC_PAGE_NAME_HERE.meta.title}}">
<meta name="twitter:description" content="{{DYNAMIC_PAGE_NAME_HERE.meta.desc}}">
<meta name="twitter:site" content="VincentVToscano">
<meta name="twitter:creator" content="VincentVToscano">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{global.meta.og_site_name}}">
<meta name="msapplication-navbutton-color" content="#FF6600">
<meta name="msapplication-square310x310logo" content="{{global.meta.img_TM_310x310}}">
<meta name="msapplication-TileColor" content="#FF6600">
<meta name="msapplication-TileImage" content="{{global.meta.img_TM_300x300}}">
<meta name="msapplication-window" content="width=1024;height=768">
<title>{{DYNAMIC_PAGE_NAME_HERE.meta.title}}</title>
<link rel="canonical" href="{{DYNAMIC_PAGE_NAME_HERE.meta.canonical}}">
<link rel="apple-touch-icon" sizes="57x57" href="{{global.meta.img_iconBase}}apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{global.meta.img_iconBase}}apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{global.meta.img_iconBase}}apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{global.meta.img_iconBase}}apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{global.meta.img_iconBase}}apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{global.meta.img_iconBase}}apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{global.meta.img_iconBase}}apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{global.meta.img_iconBase}}apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{global.meta.img_iconBase}}apple-touch-icon-180x180.png">
<link rel="icon" sizes="32x32" type="image/png" href="{{global.meta.img_iconBase}}favicon-32x32.png">
<link rel="icon" sizes="192x192" type="image/png" href="{{global.meta.img_iconBase}}android-chrome-192x192.png">
<link rel="icon" sizes="96x96" type="image/png" href="{{global.meta.img_iconBase}}favicon-96x96.png">
<link rel="icon" sizes="16x16" type="image/png" href="{{global.meta.img_iconBase}}favicon-16x16.png">
<link rel="shortcut icon" href="{{global.meta.img_iconBase}}favicon_16x16.ico">
<link rel="manifest" href="{{global.meta.img_iconBase}}manifest.json">
{{/with}}